#listItem {
  margin-left: 30px;
}

#listMessages {
  margin-top: 25px;
  overflow-y: scroll;
  max-height: 600px;
}

#mssgInput {
  text-align: center;
  position: fixed;
  width: 25%;
  bottom: 10%;
  text-align: center;
  margin-top: 25px;
  margin-left: 25px;
}
