#header {
  font-size: 30px;
  color: whitesmoke;
}

#loadOldMessagesButton {
  margin: 5px;
  background-color: rgb(2, 136, 209);
}

#sider {
  background-color: RGB(200, 217, 246);
  height: 93vh;
}

.ant-layout-footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  text-align: center;
  background-color: RGB(200, 217, 246) !important;
}

/*Alerts*/
.MuiPaper-root {
  margin: 20px;
}

.App {
  text-align: center;
}
